.ceo-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ceo-content.animate {
    opacity: 1;
}

/* 左側の画像コンテンツ */
.ceo-content .left {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s; /* アニメーション開始の遅延 */
}

/* 右側のメッセージコンテンツ */
.ceo-content .right {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.6s; /* 画像コンテンツよりも更に遅延 */
}

/* アニメーションがトリガーされたときのスタイル */
.ceo-content.animate .left,
.ceo-content.animate .right {
    opacity: 1;
}

/* ベーススタイル (モバイル) */
.ceo-content {
    flex-direction:row;
}

/* 画面幅が大きい時のスタイル */
@media (max-width: 768px) {
    .ceo-content {
        flex-direction: column;
        height: auto;
    }

    .ceo-content .left,
    .ceo-content .right {
        width: 100%; /* 画面幅が大きい時には各要素を50%の幅で表示 */
    }
}
