.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .contact-info i {
    margin-right: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    font-size: 24px;
    margin: 0 10px;
  }

  .map-container {
    position: relative;
    padding-top: 10px; 
    overflow: hidden;
  }
  
  form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    grid-column: span 2;
    height: 100px;
  }
  
  form button {
    grid-column: span 1;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
    .social-icons {
      flex-direction: column;
    }
    .social-icons a {
      margin: 5px 0;
    }
  }
  
  .contact-form h2 {
    /* Your desired styling goes here */
    color: #333; /* Example: setting the text color */
    /* ... other styles ... */
  }
  

  .selectbox-001 {
    position: relative;
}

.selectbox-001::before,
.selectbox-001::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-001::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #208d78;
}

.selectbox-001::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox-001 select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #d3d3d3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-001 select:focus {
    outline: 2px solid #208d78;
}

.button-001 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 2.8em;
    padding: .9em 2em;
    border: 1px solid #208d78;
    border-radius: 5px;
    background-color: #fff;
    border-color: #208d78;
    background-color: #d3d3d3;
    font-size: 1em;
}

.button-001::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    content: '';
}