.footer-002 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 10px 10px;
    background-color: #f0f0f0;
}

.footer-002__logo {
    width: 130px;
    height: 30px;
}

.footer-002__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-002__sns-icon {
    width: 21px;
    height: 21px;
}

.footer-002__copyright {
    margin: 0;
    color: black;
    font-weight: 200;
    font-size: .8em;
}