#header{
  /*fixedで上部固定*/
  position: fixed;
  height: 70px;
  width:100%;
  z-index: 999;/*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:#333;
  color:#fff;
  text-align: center;
}

.title{
  background-color:#333;
  color:#fff;
  text-align: center;
  align-items: center;
  justify-content: start;
}

/*　上に上がる動き　*/

#header.UpMove{
animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
from {
  opacity: 1;
transform: translateY(0);
}
to {
  opacity: 0;
transform: translateY(-100px);
}
}

/*　下に下がる動き　*/

#header.DownMove{
animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
from {
  opacity: 0;
transform: translateY(-100px);
}
to {
  opacity: 1;
transform: translateY(0);
}
}



.summer_camp_header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.summer_camp_header nav ul li a{
  display: block;
  text-decoration: none;
  color: #666;
  padding:10px;
  transition:all 0.3s;
}

.summer_camp_header nav ul li.current a,
.summer_camp_header nav ul li a:hover,
.summer_camp_header nav ul li a:active{
  color:#fff; 
}



/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*2階層目以降は横並びにしない*/
.summer_camp_header nav ul ul{
display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
.summer_camp_header nav ul li{
position: relative;
}

/*ナビゲーションのリンク設定*/
.summer_camp_header nav ul li a{
display: block;
text-decoration: none;
color: #999;
padding:20px 35px;
transition:all .3s;
}

.summer_camp_header  nav ul li li a{
padding:10px 35px;
}

.summer_camp_header  nav ul li a:hover{
color:#fff; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
.summer_camp_header  nav ul li.has-child::before{
content:'';
position: absolute;
left:15px;
top:28px;
width:6px;
height:6px;
border-top: 2px solid #999;
  border-right:2px solid #999;
  transform: rotate(135deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
.summer_camp_header  nav li.has-child ul{
  /*絶対配置で位置を指定*/
position: absolute;
left:0;
top:62px;
z-index: 4;
  /*形状を指定*/
background:#28BFE7;
width:180px;
  /*はじめは非表示*/
visibility: hidden;
opacity: 0;
  /*アニメーション設定*/
transition: all .3s;
}

/*hoverしたら表示*/
.summer_camp_header  nav li.has-child:hover > ul,
.summer_camp_header  nav li.has-child ul li:hover > ul,
.summer_camp_header  nav li.has-child:active > ul,
.summer_camp_header  nav li.has-child ul li:active > ul{
visibility: visible;
opacity: 1;
}

/*ナビゲーションaタグの形状*/
.summer_camp_header  nav li.has-child ul li a{
color: #fff;
border-bottom:solid 1px rgba(255,255,255,0.6);
}

.summer_camp_header  nav li.has-child ul li:last-child a{
border-bottom:none;
}

.summer_camp_header  nav li.has-child ul li a:hover,
.summer_camp_header  nav li.has-child ul li a:active{
background:#3577CA;
}


/*==768px以下の形状*/



