.navbar {
    height: 3.8rem;
    width: 3.8rem;
}

.bar {
    width: 2.5rem;
}

@media (max-width: 765px) {
    .navbar {
        width:3rem;
        height:3rem;
    }
    .bar {
        width: 1.5rem;
    }
}