.wave {
    height: 80px;
    background-color: aliceblue;
}

canvas{
    position: absolute;
    bottom: -60px;
    left:0;
    width: 100%;
}

@media(max-width: 768px){
    .wave{
        height: 40px;
    }
    canvas{
        bottom: -30px;
    }
}