/* タイトルのスタイル */
h1 {
    font-size: 2vw; /* タイトルのフォントサイズを大きくする */
    margin-bottom: 0.5em; /* タイトルの下の余白 */
    font-weight: bold; /* 太字で表示 */
}

h3 {
    font-size: 1.5vw;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: normal; /* 通常のフォントの太さ */
    color: #555; /* サブタイトルの色を少し暗めに */
}

/* サブタイトルのスタイル */
h2 {
    font-size: 1.5vw;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
     /* 大きめのフォントの太さ */
    font-weight: bold;
}

/* 段落のスタイル */
p {
    line-height: 1.5; /* 行の高さをフォントサイズの1.5倍に */
    margin-bottom: 1em; /* 段落間の余白 */
}

/* セクション全体のマージンとパディング */
.section {
    margin: 2em 0; /* 上下の余白 */
    padding: 1em; /* 内側の余白 */
}

/* 画像のスタイル */
 img {
    max-width: 100%; /* 画像の最大幅を親要素の幅に合わせる */
    height: auto; /* 高さを自動で調整 */
    margin-right: 1em; /* 画像とテキストの間の余白 */
}
