/* スクロールダウンのアニメーション */
@keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0); /* translateX(-50%) を追加 */
    }
    50% {
      transform: translateX(-50%) translateY(15px); /* translateX(-50%) を追加 */
    }
  }

  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    cursor: pointer;
    z-index: 30;
  }
  
  .first_view_title {
    margin-left: 100px;
    padding: 7px 0;
    border-radius: 10px;
    color: white;
    z-index:50;
  }

  /* スクロールダウンのプロンプト全体のスタイル */
  .scrolldown-animation {
    position: absolute;
    bottom: 5%;
    left: 50%; /* ビューポートの中央 */
    transform: translateX(-50%); /* 要素の幅の半分だけ左に移動 */
    animation: bounce 2s infinite;
    z-index: 10;
  }
  
  /* スクロールテキストのスタイル */
  .scrolldown-animation span {
    display: block;
    margin-bottom: 10px; /* テキストと矢印の間隔 */
    color: #fff;
    font-size: 1.5rem; /* テキストのサイズ */
  }
  
  /* 矢印のスタイル */
  .arrow {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: 0 auto; /* ブロック要素の中央揃え */
  }
  
  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* 他のコンテンツの背後に配置 */
  }
  
  #player iframe {
    width: 100%;
    height: 100%;
  }

  .video {
    z-index: 10;
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: 75%;
  }

  @media screen and (max-width: 765px) {
    .first_view_title {
      margin-left: 70px;
      padding: 20px 0;
      border-radius: 10px;
      color: white;
      z-index:50;
    }
    .video {
      z-index: 10;
      position: absolute;
      margin-top: 5rem;
      width: 100%;
      height: 75%;
    }
    .scrolldown-animation span {
      display: block;
      margin-bottom: 10px; /* テキストと矢印の間隔 */
      color: #fff;
      font-size: 0.95rem; /* テキストのサイズ */
    }
    .arrow {
      display: block;
      width: 15px;
      height: 15px;
      border-bottom: 5px solid #fff;
      border-right: 5px solid #fff;
      transform: rotate(45deg);
      margin: 0 auto; /* ブロック要素の中央揃え */
    }
  }
  
  @media (min-width: 765px) {
    
    
  }