.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 12px 12px;
    background-color: #16202e; /* 例としての色 */
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* 他の要素より前面に表示 */
  }
  
  /* 画面サイズが小さい場合のスタイル調整 */
  @media (max-width: 600px) {
    .floating-button {
      right: 10px;
      bottom: 10px;
      font-size: 14px;
      padding: 20px 10px;
    }
  }
  