.floating-button {
  color: white;
    background-color: #2a599e; /* 例としての色 */
    font-size: 15px;
    cursor: pointer;

  }

  
  /* 画面サイズが小さい場合のスタイル調整 */
  @media (max-width: 765px) {
    .floating-button {
      color: white;
      font-size: 10px;

    }
  }
  