.container {
    position: relative;
    display: flex;
}

.sticky-element {
    position: -webkit-sticky; /* Safariのためのプレフィックス */
    position: sticky;
    top: 100px; /* スクロール位置で固定される位置 */
    height: 80vh; /* 要素の高さ */
    padding: 0px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 要素の高さ */
}


.centered-content p {
    font-size: 1.1vw;
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

.description {
    width: 55% ;
    padding-left: 5%;
}

@media screen and (max-width: 770px) {
    .description {
        width: 100%;
        padding-left: 0;
    }    
    .mobile {
        position: relative;
        display: block;
    }
    .pc {
        display: none;
    }
}

@media (max-width: 930px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .description {
        width: 100%;
        padding-left: 0;
    }    
    .mobile {
        position: relative;
        display: block;
    }
    .pc {
        display: none;
    }

    .sticky-element {
        position: relative; /* sticky positioning を無効化 */
        height: auto; /* 高さを自動調整 */
        top: 0; /* sticky の top 値をリセット */
    }

    .centered-content {
        position: relative;
        height: 100%;
        margin-left: 0; /* 余白をリセット */
        width: 100%; /* コンテンツの幅を調整 */
        margin: 10% 0;
    }

    .centered-content h2 {
        font-size: 3.2vw;
    }

    .centered-content p {
        font-size: 3vw;
    }

}
