.logo {
    position: fixed;
}

.symbol {
    background-color: white;
    border-radius: 10%;
    height: 3.8rem;
    width: 3.8rem;
}

@media(max-width: 765px){
    .logo {
        position: absolute;
    }

    .symbol {
        background-color: aliceblue;
        border-radius: 10%;
        height: 3.2rem;
        width: 3.2rem;
    }
}