.message-section {
    /* 以前のスタイル設定... */
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    transition: opacity 1s ease;
}

.message-section.animate {
    opacity: 1;
}

.message-title {
    font-size: 5vw;
    line-height: 1.3235294118;
    letter-spacing: 0.08em;
}


.message-content {
    padding-top: 45px;
    font-size: 3vw;
    line-height: 1.7692307692;
    letter-spacing: 0.06em;
}


/* 画面幅が大きい時のスタイル */
@media (min-width: 765px) {

    .message-section {
    width: 80%;
    }

    .message-title {
        font-size: 2.5vw;
        line-height: 1.4117647059;
        color: #333333;
    }

    .message-title .mobile-only {
        display: none;
    }
    
    .message-content {
        padding-top: 45px;
        font-size: 1.1vw;
        line-height: 2.25;
        color: #333333;
    }
}
