/* スライドショーのコンテナを定義 */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 0px;
    overflow: hidden; /* コンテナ外の要素は非表示に */
  }
  
  /* 各スライド */
  .slide {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out; /* トランジション効果を追加 */
    z-index: 1;
  }
  
  /* アクティブなスライド */
  .slide.active {
    opacity: 1;
    z-index: 2;
  }

  /* 最新情報の日付 */
  .news-date {
    margin-right: 1em;
  }

  /* 最新情報の説明 */
  .news-description {
    /* ここにスタイルを追加 */
  }
  
  